In [8]:
import pandas as pd

In [9]:
train=pd.read_csv('/kaggle/input/fashionmnist/fashion-mnist_train.csv')
test=pd.read_csv('/kaggle/input/fashionmnist/fashion-mnist_train.csv')
import seaborn as sns

In [11]:
train.head(2)

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
Y_train=train['label']
X_train=train.drop(columns=['label'],axis=1)
del train

In [13]:
print(X_train.shape)
print(Y_train.shape)

(60000, 784)
(60000,)

In [15]:
Y_train.value_counts()

label
2    6000
9    6000
6    6000
0    6000
3    6000
4    6000
5    6000
8    6000
7    6000
1    6000
Name: count, dtype: int64