In [8]:
import pandas as pd

In [9]:
train=pd.read_csv('/kaggle/input/fashionmnist/fashion-mnist_train.csv')
test=pd.read_csv('/kaggle/input/fashionmnist/fashion-mnist_train.csv')
import seaborn as sns

In [11]:
train.head(2)

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
Y_train=train['label']
X_train=train.drop(columns=['label'],axis=1)
del train

In [13]:
print(X_train.shape)
print(Y_train.shape)

(60000, 784)
(60000,)

In [15]:
Y_train.value_counts()

label
2    6000
9    6000
6    6000
0    6000
3    6000
4    6000
5    6000
8    6000
7    6000
1    6000
Name: count, dtype: int64

In [16]:
X_train.isnull().describe()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
count,60000,60000,60000,60000,60000,60000,60000,60000,60000,60000,...,60000,60000,60000,60000,60000,60000,60000,60000,60000,60000
unique,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
top,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
freq,60000,60000,60000,60000,60000,60000,60000,60000,60000,60000,...,60000,60000,60000,60000,60000,60000,60000,60000,60000,60000

In [17]:
X_train.isnull().sum()

pixel1      0
pixel2      0
pixel3      0
pixel4      0
pixel5      0
           ..
pixel780    0
pixel781    0
pixel782    0
pixel783    0
pixel784    0
Length: 784, dtype: int64

In [18]:
X_train=X_train/255.0
X_test=test/255.0

In [19]:
print(X_train.head())

   pixel1  pixel2  pixel3    pixel4    pixel5  pixel6  pixel7    pixel8  \
0     0.0     0.0     0.0  0.000000  0.000000     0.0     0.0  0.000000
1     0.0     0.0     0.0  0.000000  0.000000     0.0     0.0  0.000000
2     0.0     0.0     0.0  0.000000  0.000000     0.0     0.0  0.019608
3     0.0     0.0     0.0  0.003922  0.007843     0.0     0.0  0.000000
4     0.0     0.0     0.0  0.000000  0.000000     0.0     0.0  0.000000

   pixel9  pixel10  ...  pixel775  pixel776  pixel777  pixel778  pixel779  \
0     0.0      0.0  ...  0.000000       0.0       0.0  0.000000  0.000000
1     0.0      0.0  ...  0.000000       0.0       0.0  0.000000  0.000000
2     0.0      0.0  ...  0.000000       0.0       0.0  0.117647  0.168627
3     0.0      0.0  ...  0.011765       0.0       0.0  0.000000  0.000000
4     0.0      0.0  ...  0.000000       0.0       0.0  0.000000  0.000000

   pixel780  pixel781  pixel782  pixel783  pixel784
0  0.000000       0.0       0.0       0.0       0.0
1  0.000000       0.0       0.0       0.0       0.0
2  0.000000       0.0       0.0       0.0       0.0
3  0.003922       0.0       0.0       0.0       0.0
4  0.000000       0.0       0.0       0.0       0.0

[5 rows x 784 columns]