In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [17]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [18]:
print("Shape of training data",train.shape)
print("Shape of test data",test.shape)

Shape of training data (1460, 81)
Shape of test data (1459, 80)

In [19]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [20]:
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [21]:
X=pd.concat([train.drop("SalePrice",axis=1),test],axis=0)
y=train["SalePrice"]

In [22]:
print(X.shape)
print(y.shape)

(2919, 80)
(1460,)

In [24]:
X.drop('Id',axis=1,inplace=True)

In [25]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2919 entries, 0 to 1458
Data columns (total 79 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     2919 non-null   int64
 1   MSZoning       2915 non-null   object
 2   LotFrontage    2433 non-null   float64
 3   LotArea        2919 non-null   int64
 4   Street         2919 non-null   object
 5   Alley          198 non-null    object
 6   LotShape       2919 non-null   object
 7   LandContour    2919 non-null   object
 8   Utilities      2917 non-null   object
 9   LotConfig      2919 non-null   object
 10  LandSlope      2919 non-null   object
 11  Neighborhood   2919 non-null   object
 12  Condition1     2919 non-null   object
 13  Condition2     2919 non-null   object
 14  BldgType       2919 non-null   object
 15  HouseStyle     2919 non-null   object
 16  OverallQual    2919 non-null   int64
 17  OverallCond    2919 non-null   int64
 18  YearBuilt      2919 non-null   int64
 19  YearRemodAdd   2919 non-null   int64
 20  RoofStyle      2919 non-null   object
 21  RoofMatl       2919 non-null   object
 22  Exterior1st    2918 non-null   object
 23  Exterior2nd    2918 non-null   object
 24  MasVnrType     1153 non-null   object
 25  MasVnrArea     2896 non-null   float64
 26  ExterQual      2919 non-null   object
 27  ExterCond      2919 non-null   object
 28  Foundation     2919 non-null   object
 29  BsmtQual       2838 non-null   object
 30  BsmtCond       2837 non-null   object
 31  BsmtExposure   2837 non-null   object
 32  BsmtFinType1   2840 non-null   object
 33  BsmtFinSF1     2918 non-null   float64
 34  BsmtFinType2   2839 non-null   object
 35  BsmtFinSF2     2918 non-null   float64
 36  BsmtUnfSF      2918 non-null   float64
 37  TotalBsmtSF    2918 non-null   float64
 38  Heating        2919 non-null   object
 39  HeatingQC      2919 non-null   object
 40  CentralAir     2919 non-null   object
 41  Electrical     2918 non-null   object
 42  1stFlrSF       2919 non-null   int64
 43  2ndFlrSF       2919 non-null   int64
 44  LowQualFinSF   2919 non-null   int64
 45  GrLivArea      2919 non-null   int64
 46  BsmtFullBath   2917 non-null   float64
 47  BsmtHalfBath   2917 non-null   float64
 48  FullBath       2919 non-null   int64
 49  HalfBath       2919 non-null   int64
 50  BedroomAbvGr   2919 non-null   int64
 51  KitchenAbvGr   2919 non-null   int64
 52  KitchenQual    2918 non-null   object
 53  TotRmsAbvGrd   2919 non-null   int64
 54  Functional     2917 non-null   object
 55  Fireplaces     2919 non-null   int64
 56  FireplaceQu    1499 non-null   object
 57  GarageType     2762 non-null   object
 58  GarageYrBlt    2760 non-null   float64
 59  GarageFinish   2760 non-null   object
 60  GarageCars     2918 non-null   float64
 61  GarageArea     2918 non-null   float64
 62  GarageQual     2760 non-null   object
 63  GarageCond     2760 non-null   object
 64  PavedDrive     2919 non-null   object
 65  WoodDeckSF     2919 non-null   int64
 66  OpenPorchSF    2919 non-null   int64
 67  EnclosedPorch  2919 non-null   int64
 68  3SsnPorch      2919 non-null   int64
 69  ScreenPorch    2919 non-null   int64
 70  PoolArea       2919 non-null   int64
 71  PoolQC         10 non-null     object
 72  Fence          571 non-null    object
 73  MiscFeature    105 non-null    object
 74  MiscVal        2919 non-null   int64
 75  MoSold         2919 non-null   int64
 76  YrSold         2919 non-null   int64
 77  SaleType       2918 non-null   object
 78  SaleCondition  2919 non-null   object
dtypes: float64(11), int64(25), object(43)
memory usage: 1.8+ MB